<section id="projetos">
    <div class="separador"></div>
    <h1>Projetos</h1><br/><br/>

    <h1>Atualmente:</h1>
    <p>Atualmente atualmente focando na faculdade e serviço, não estou fazendo nem assistindo muito mais lives, <br>computador fraco e antigo demais pra fazer isso pra uso normal está bom ainda kkkk. E é isso...</p>
    
    <img src="/assets/images/web.png" alt="Projetos web" width="50px">
    <p class="sobre">Recentemente fiz um curso de Python e DJango e não o cheguei a concluir, mas achei interessante compartilhar ele <a href="https://www.udemy.com/course/desenvolvimento-web-com-django-2-e-python-3/">aqui</a> pois consegui entender bastante coisas com DJango, percebi que ele é tipo um Framework Spring, e é bem facil de configurar as rotas, etc.Então é legal compartilhar...</p>

    <a href="https://play.google.com/store/apps/developer?id=RREGIO_DEV"><img src="/assets/images/android.png" alt="Projetos Mobile Android" width="50px"></a>
    <p>
        <a href="https://play.google.com/store/apps/details?id=top.rregio.calculanotasunivesp">Calcula Notas Univesp</a> - É um aplicativo que fiz para auxiliar o calculo das notas da faculdade. E é o meu primeiro aplicativo com mais de 100 downloads (e atualmente
        o unico kkkk) mas procurarei fazer outros.<br/>
        <a href="https://play.google.com/store/apps/details?id=top.rregio.trocadim">Trocadim - Facilita troco</a> - Aplicativo para meu estudo.<br/>
        <a href="https://play.google.com/store/apps/details?id=top.rregio.imc">IMC Real</a> - É outro aplicativo para meu estudo onde calculo o imc e posso armazenar o ultimo valor.<br/><br/>
    </p>

    <img src="/assets/images/outros.png" alt="Há outros projetos?" width="50px">
    <p>Para mais projetos, veja o meu <a href="https://curriculo.rregio.top">currículo</a> que tem outros projetos que fiz lá.<br/>
    Meu projeto atual é {{ page.projeto_atual }}.</p><br/><br/>
</section>