<section id="sobre">
    <div class="separador"></div>
    <h1>Sobre mim</h1>
    <p>
        Olá, sempre me interessei por tecnologia já trabalhei algumas vezes na área de TI (geralmente como <strong>suporte nível 1</strong>) mas não muito como desenvolvedor (trabalhei somente alguns meses como desenvolvedor) e atualmente estou estudando Ciências da Computação pela Univesp (estou no sexto bimestre). Já formado em Tecnologia em Redes de Computadores pela FMB (Faculdade Municipal de Barueri) e em Tecnologia em Processamento de Dados pela Uniban.
    </p><br>
    <p>
        Buscando novos conhecimentos com faculdade, cursos online, e tentando criar novos projetos para portfolio e diversão.
    </p><br>
    <p>
        Quer comentar sobre algum post comigo, tentar auxílio mútuo (eu te ajudo e você me ajuda), quanto sugestões e críticas construtivas fique á vontade de comentar nos posts e se preferir me procure nas redes sociais abaixo:
    </p>
    <br/>
    <a href="https://www.facebook.com/rodrigo.r.dearaujo" class="link2">Facebook</a>
    <a href="https://twitter.com/rodrigo_regio" class="link2">Twitter</a>
    <a href="https://www.linkedin.com/in/rodrigo-r%C3%A9gio-de-ara%C3%BAjo-1322b79a/" class="link2">Linkedin</a><br/><br/>
</section>