<section id="sobre">
    <div class="separador"></div>
    <h1>Sobre mim</h1>
    <p>Olá, atualmente estou estudando Ciências da Computação pela Univesp (estou no terceiro semestre). Já formado em Tecnologia em Redes de Computadores pela FMB (Faculdade Municipal de Barueri) e em Tecnologia em Processamento de Dados pela Uniban.</p>
    <p>Atualmente buscando novos conhecimentos com faculdade, cursos online, e tentando criar novo projetos para portfolio.</p>
    <p>Quer comentar sobre algum post comigo, tentar auxílio mútuo (eu te ajudo e você me ajuda), quanto sugestões e críticas construtivas. Me procure nas redes sociais abaixo:</p><br/>
    <a href="https://www.facebook.com/rodrigo.r.dearaujo" class="link2">Facebook</a>
    <a href="https://twitter.com/rodrigo_regio" class="link2">Twitter</a>
    <a href="https://www.linkedin.com/in/rodrigo-r%C3%A9gio-de-ara%C3%BAjo-1322b79a/" class="link2">Linkedin</a><br/><br/>
</section>