:root{
--itenspagina: #5f5;
--corpo_pagina: #060;
}
body{
    margin-left: auto;
    margin-right: auto;
    background-color: var(--corpo_pagina);
    text-align: center;
    min-width: 540px;
    max-width: 1300px;
}
.menuLista{
    position: fixed;
    list-style-type: none;
    width: 100%;
    /*translate: translateX(-50%);*/
    padding: 8px;
    overflow: hidden;
    background-color: var(--corpo_pagina);
    font-family: 'Architects Daughter', cursive;
}
.menuItem {
    float: right
} 
.menuItem a {
    color: var(--itenspagina);
    text-align: center;
    padding: 10px 10px;
    text-decoration: none;
}
.menuItem a:hover {
    background-color: var(--itenspagina);
    color: var(--corpo_pagina);
}
.menu{
    position: absolute;
    width: 100%;
    left: -25%;
    font-size: 2em;
}
.rodape{
    font-family: 'Architects Daughter', cursive;
    width: 100%;
    bottom: 0;
    left: 0;   
    font-size: 1.25em;
    background-color: var(--corpo_pagina);
    color: var(--itenspagina);
    padding: 5px;
}
#home{
    padding-left: 15px;
    padding-bottom: 15px;
    padding-right: 15px;
    background-color: var(--itenspagina);
    font-family: serif;
    font-size: 2em;
}
#home > img{
    width: 150px;
    padding: 50px;
}
h1{
    font-family: 'Architects Daughter', cursive;
    font-weight: 900;
    padding: 15px;
}
p{
    margin-left: 15px;
    margin-right: 15px;
    font-family: 'Solway', serif;
    font-weight: 400;
}
.separador{
    background-color: var(--corpo_pagina);
    width: 50%;
    border-radius: 5px;
    height: 10px;
    margin-left: 25%;
    margin-right: 25%;
}
#sobre{
    background-color: var(--itenspagina);
    text-align: left;
    font-size: 1.5em;
    vertical-align: middle;
    display: table-cell;
    text-align: center;
}

#sobre p{
    text-align: justify;
}
a{
    color: var(--corpo_pagina);
    border: 1px solid var(--corpo_pagina);
}
a:hover{
    background-color: var(--corpo_pagina);
    color: var(--itenspagina);
}
a:link{
    text-decoration: none;
}
#projetos{
    background-color: var(--itenspagina);
    font-size: 1.5em;
}
#projetos p{
    text-align: left;
    line-height: 1.4em;
}
#blog{
    padding: 70px;
    background-color: var(--itenspagina);
    color: var(--corpo_pagina);
    font-size: 1.5em;
}
#blog p{
    line-height: 20px;
}
#blog ul{
    list-style: none;
    line-height: 30px;
    padding: 10px;
}
#blog h1{
    padding-top: 10px;
}
#sitetags{
    font-size: 1.5em;
    background-color: var(--itenspagina);
}
#sitetags li{
    list-style: none;
    line-height: 10px;
    padding: 10px;
}
#sitetags p{
    list-style: none;
    line-height: 10px;
    padding: 10px;
}
#poste{
    background-color: var(--itenspagina);
    font-size: 1.5em;
    text-align: left;
    padding: 20px;
}
.streamers{
    width: 70px;
    border: 2px solid var(--corpo_pagina);
    border-radius: 50%;
    padding: 2px;
}
p{
    line-height: 1.3em;
}

.highlight{
    white-space: pre-wrap;
    font-size: 1em;
    background-color: #060;
    color: #AfA;
}
strong{
    font-family: sans-serif;
    font-weight: 600;
}
em{
    font-family: Arial;
    font-weight: 100;
    color: darkseagreen;
    background-color: #353;
}


.post_img{
    width: 500px;
    padding: 5px;
    align-self: center;
    border: solid 1px black;
    border-radius: 20px;
}
.atualmente{
    word-wrap: break-word;
}