body{
    margin-left: auto;
    margin-right: auto;
    background-color: #060;
    text-align: center;
    min-width: 540px;
    max-width: 1300px;
}
.menuLista{
    position: absolute;
    list-style-type: none;
    width: 100%;
    /*translate: translateX(-50%);*/
    padding: 8px;
    overflow: hidden;
    background-color: #060;
}
.menuItem {
    float: right
} 
.menuItem a {
    color: #7f7;
    text-align: center;
    padding: 10px 10px;
    text-decoration: none;
}
.menuItem a:hover {
    background-color: #5f5;
    color: #353;
}
.menu{
    position: absolute;
    width: 100%;
    left: -25%;
    font-size: 2em;
}
.rodape{
    width: 100%;
    bottom: 0;
    left: 0;   
    font-size: 1.25em;
    background-color: #060;
    color: #AfA;
}
#home{
    padding-left: 15px;
    padding-bottom: 15px;
    padding-right: 15px;
    background-color: #5f5;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 1.5em;
}
#home > img{
    width: 150px;
    padding: 100px;
}
h1{
    font-family: 'Architects Daughter', cursive;
    font-weight: 900;
    padding: 20px;
}
p{
    margin-left: 15px;
    margin-right: 15px;
    font-family: 'Solway', serif;
    font-weight: 400;
}
#sobre{
    background-color: #9f9;
    text-align: left;
    font-size: 1.5em;
    vertical-align: middle;
    display: table-cell;
    text-align: center;
}

#sobre p{
    text-align: justify;
}
a:hover{
    background-color: #060;
    color: #8f8;
}
a:link{
    text-decoration: none;
}
#projetos{
    background-color: #AfA;
    font-size: 1.5em;
}
#blog{
    padding: 70px;
    background-color: #AfA;
    font-size: 1.5em;
}
#blog p{
    line-height: 20px;
}
#blog ul{
    list-style: none;
    line-height: 30px;
    padding: 10px;
}
#blog h1{
    padding-top: 10px;
}
#sitetags{
    background-color: #9f9;
    font-size: 1.5em;
}
#sitetags li{
    list-style: none;
    line-height: 10px;
    padding: 10px;
}
#sitetags p{
    list-style: none;
    line-height: 10px;
    padding: 10px;
}
#poste{
    background-color: #AfA;
    font-size: 1.5em;
    text-align: left;
    padding: 20px;
}
.highlight{
    white-space: pre-wrap;
    font-size: 1em;
    background-color: #060;
    color: #AfA;
}
strong{
    font-family: sans-serif;
    font-weight: 600;
}
em{
    font-family: Arial;
    font-weight: 100;
    color: darkseagreen;
    background-color: #353;
}